.lightMode {
  background-color: rgba(230, 230, 230, 0.7) !important;
}
.lightMode #light {
  color: #A62120 !important;
}
.lightMode h1, .lightMode h2, .lightMode h3, .lightMode h5, .lightMode span, .lightMode i, .lightMode p {
  color: #A62120 !important;
}
.lightMode .p-card {
  color: #fff !important;
}
.lightMode .first-content .logo img {
  background-color: #A62120;
  padding: 25px;
  border: 1px solid #000;
  border-radius: 25px;
}