#navigation {
  height: 93px;
  background-color: #B50014;
}
#navigation #hamburgerIcon {
  display: none;
  font-size: 15px;
}
#navigation img {
  z-index: 100;
}
#navigation ul {
  display: flex;
  justify-content: center;
  height: 93px;
  align-items: center;
}
#navigation ul li {
  list-style: none;
  padding: 0 20px;
}
#navigation ul li #downloadBtn {
  align-items: center;
  gap: 5px;
}
#navigation ul li a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 1310px) {
  .container {
    max-width: 999px;
  }
  #navigation ul li {
    padding-left: 0;
    text-align: center;
  }
  #navigation ul li a {
    font-size: 14px;
  }
  #navigation #logo {
    width: 140px;
  }
}
@media only screen and (max-width: 999px) {
  #navigation #hamburgerIcon {
    display: block;
    font-size: 45px;
    color: #fff;
    margin-top: 25px;
    margin-right: 10px;
  }
  #navigation .flex-container {
    justify-content: space-between;
  }
  #navigation #navigationElements {
    display: none;
    width: 50%;
    height: 100%;
    background-color: #B50014;
    position: absolute;
    top: 90px;
    right: 0;
    z-index: 200;
    text-align: center;
  }
  #navigation #navigationElements li {
    padding: 25px;
  }
  #navigation #navigationElements li #downloadBtn {
    justify-content: center;
  }
  #navigation #logo {
    width: 178px;
    margin-left: 10px;
  }
}
@media only screen and (max-width: 768px) {
  #navigation {
    height: 70px;
  }
  #navigation #hamburgerIcon {
    font-size: 35px;
    margin-top: 16px;
  }
  #navigation #logo {
    width: 140px;
  }
  #navigation #navigationElements {
    top: 70px;
  }
}
@media only screen and (max-width: 576px) {
  #navigation {
    height: 55px;
  }
  #navigation #hamburgerIcon {
    margin-top: 14px;
    font-size: 25px;
  }
  #navigation #logo {
    width: 100px;
    z-index: 201;
  }
  #navigation #navigationElements {
    top: 54px;
    width: 100%;
  }
}