#order {
  background-image: url("../pictures/background5.png");
  background-color: #000;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 540px;
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
#order h1 {
  padding-top: 193px;
  padding-bottom: 40px;
}
#order a {
  display: block;
  margin: 40px auto;
  background-color: #fff;
  color: #252525;
  text-decoration: none;
  border: 1px solid #FF0000;
  padding: 13px 0;
  border-radius: 20px;
  width: 174px;
  font-size: 16px;
}
#order a:hover {
  cursor: pointer;
  border: 1px solid #000;
}