@media only screen and (max-width: 1470px) {
  #hero .text-background {
    top: 80px;
  }
}
@media only screen and (max-width: 1310px) {
  .container {
    max-width: 1200px;
  }
  #navigation ul li {
    padding-left: 10px;
  }
  #navigation #logo {
    width: 140px;
  }
  #hero .text-background {
    top: 60px;
  }
}
@media only screen and (max-width: 1165px) {
  .container, .second-container {
    max-width: 1000px;
  }
  #navigation ul li {
    padding-left: 0;
  }
  #navigation ul li a {
    font-size: 14px;
  }
  #navigation #logo {
    width: 130px;
  }
  #hero2 #food1 {
    width: 437px;
  }
  #hero2 #food2, #hero2 #food3, #hero2 #food4 {
    width: 130px;
  }
  #hero2 .content {
    gap: 50px;
  }
  #hero2 .content h1 {
    padding-top: 110px;
  }
}
@media only screen and (max-width: 999px) {
  .container, .second-container {
    max-width: 850px;
  }
  #hero .text-background {
    position: unset;
    background-color: #000;
    width: 100%;
  }
  #hero .text-background .text {
    text-align: center;
    margin: 0 auto;
  }
  #hero .text-background .text h1, #hero .text-background .text p {
    width: auto;
  }
  #navigation #hamburgerIcon {
    display: block;
    font-size: 45px;
    color: #fff;
    margin-top: 25px;
  }
  #navigation .flex-container {
    justify-content: space-between;
  }
  #navigation #navigationElements {
    display: none;
    width: 50%;
    height: 100%;
    background-color: #B50014;
    position: absolute;
    top: 90px;
    right: 0;
    z-index: 200;
    text-align: center;
  }
  #navigation #navigationElements li {
    padding: 25px;
  }
  #navigation #navigationElements li #downloadBtn {
    justify-content: center;
  }
  #navigation #logo {
    width: 178px;
  }
  #hero2 .flex-container, #hero2 .flex-container2 {
    flex-wrap: wrap;
  }
  #hero2 .content {
    justify-content: center;
    padding: 50px 0;
  }
  #hero2 .content .text {
    order: 2;
    text-align: center;
  }
  #hero2 .content .text h1 {
    padding: 0;
  }
  #hero2 .content .text .buttons {
    justify-content: center;
  }
  #hero2 .content #food1 {
    padding: 0;
  }
}
@media only screen and (max-width: 850px) {
  .container, .second-container {
    max-width: 750px;
  }
}
@media only screen and (max-width: 768px) {
<<<<<<< HEAD
  .cards {
=======
  .flex-container, .flex-container2 {
>>>>>>> 2f142c2ca4c857cf4b8c0f6a5dc0693afafa9137
    flex-wrap: wrap;
  }
  .slideshow-container .slideshow-items {
    left: 37%;
  }
}
#course .flex-container {
  flex-direction: column;
}
#course .text {
  padding: 150px 0;
  margin: 0 auto;
}
#course .text .text-content {
  text-align: center;
}

#spices .text {
  order: 1;
  padding: 100px 165px;
  text-align: center;
}
#spices .text h1, #spices .text h2, #spices .text p {
  width: unset;
}
#spices .background {
  order: 2;
}

#order {
  background-position: center;
}

#aboutUs .flex-container {
  gap: 10px;
  flex-direction: row;
}
#aboutUs .logo {
  padding-left: 0;
}
#aboutUs .logo img {
  display: block;
  margin: 0 auto;
}
#aboutUs .text {
  margin-top: 0;
  text-align: center;
}
#aboutUs #logoNew, #aboutUs #logoNew2 {
  padding: 50px 0;
}
#aboutUs .flex-container2 {
  flex-wrap: wrap;
  gap: 35px;
}
#aboutUs .flex-container2 h1 {
  text-align: center;
}

footer .pre-footer .flex-container3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .pre-footer #footer-logo {
  width: 25%;
}
footer .pre-footer .informations, footer .pre-footer .social-medias {
  padding: 50px 0;
}