#aboutUs {
    background-color: #000;
    color:#fff;
    font-family: 'Roboto', sans-serif;

  
    
   .flex-container2 {
    justify-content: center;
   }

    h1 {
        
        padding-bottom:32px;
        font-size: 30px;
        line-height: 42px;
        font-weight: bold;
        padding-top:50px;
    }

    .logo {
        padding-top:167px;
        flex:50%;
        padding-left:25px;
        
    }

    button {
        background-color: #A62120;
        color:white;
        text-decoration: none;
        border:1px solid #fff;
        padding-top:12px;
        padding-bottom:13px;
        border-radius: 20px;
        width:174px;
        height:47px;
        font-size:16px;

    }
    
    .text {
        margin-top:167px;
        flex:50%;
    }

    #logoNew {
        display:block;
        margin:0 auto;
        padding:158px 0;
        width:100%;
        
    }

    #logoNew2 {
        display:block;
        margin:0 auto;
        padding-top:140px;
        padding-bottom:50px;
        width:100%;
    }

    #item {
        width:200px;

        img {
            display:block;
            margin:0 auto;

        }
        p {
            color: #FFFFFF82;
            font-weight: 300;
            padding-top:14px;
            text-align: center;
           
        }

        
    }

    .quotes {

        .cards {
            display:flex;
            align-items: center;
            justify-content: center;
            gap:15px;


        }

        .button {
            text-align: center;
            padding-bottom:78px;
        }
        
        h3 {
            text-align: center;
            color:#FFFFFF;
        }

        h1 {
            text-align: center;
            font-size:32px;
            margin:0 auto;
        }

        .active-card {
            height:429px;
            width:414px;
            background-color: #333333;
            margin-bottom:90px;
            position:relative;

            #left-arrow {
                position:absolute;
                left:-35px;
                top:40%;
            }

            #right-arrow {
                position:absolute;
                right:-35px;
                top:40%;
            }

            img {
                display:block;
                margin:0 auto;
                padding-top:35px;
               }
    
               #stars-icon {
                padding-top:10px;
                padding-bottom:20px;
               }
    
               p {
                width:342px;
                text-align: center;
                padding-bottom:50px;
                padding-top:25px;
                margin:0 auto;
               }
    
               h5 {
                text-align: center;
                padding-top: 10px;
               }
    
               #quote-icon {
                position: absolute;
                right:10px;
               }
        }

        .inactive-card {
            width:317px;
            height:257px;
            text-align: center;
            background-color: #333333;

            p {
                padding-top:97px;
                width:250px;
                font-size:12px;
                margin:0 auto;
            }
           
            h5 {
                padding-top:23px;
            }
        }

        
    }

    .awards {
        justify-content: center;
     
    }
    
}


//RESPONSIVE DESIGN


@media only screen and (max-width:1100px) {
    #aboutUs {
        .awards {
            flex-direction: column;

            h1 {
                text-align: center;
                padding-top: unset;
            }
        }

        #logoNew {
            padding:130px 0;
        }
    }
}



@media only screen and (max-width:999px) {
    #aboutUs {
        .first-content {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .logo {
                padding-left:0;
            }

            .text {
                margin-top:100px;
                text-align: center;
            }
        }

        
            .inactive-card {
                display:none;
            }
            
            .active-card {
                margin:0 auto;
                
               
                
            }
        
    }
}

@media only screen and (max-width:768px) {
    .flex-container2 {
        flex-wrap:wrap;
    }
}


@media only screen and (max-width:576px) {
    #aboutUs {
        .first-content {
            .logo {
                padding-top:90px;
                img {
                    width:266px;
                }
            }

            h1 {
                padding-top:0;
            }

            .text {
                margin-top:80px;
            }
        }


        .awards {
            .flex-container2 {
                gap:40px;
            }
        }

        #item {
            img {
                width:100px;
            }
        }

        
    }
}