#hero {
    position:relative;
   

   .swiper {
    
      .swiper-wrapper {
        .swiper-slide {
            img {
                display:block;
                width:100%;
            }
        }
      }  

      .swiper-pagination-bullet-active {
        background-color:#B50014;
      }

      .swiper-elements {
       
        .button-next {
            position:absolute;
            bottom:15px;
            right:45%;
            z-index:55;
            margin:0 -30px;

            &:hover {
                cursor:pointer;
            }
        }

        .button-prev {
            position:absolute;
            bottom:15px;
            left:45%;
            z-index:55;
            margin:0 -30px;

            &:hover {
                cursor:pointer;
            }
        }

        .swiper-pagination {
            position:absolute;
            bottom:25px;
    

            .swiper-pagination-bullet {
                width:12px;
                height:12px;
                margin: 0 var(--swiper-pagination-bullet-horizontal-gap,10px);
            }
        }
      }

      
   }
    
    

    .text-background {
        width:629px;
        height:348px;
        background-color:#0000004D;
        position:absolute;
        top:163px;
        z-index:10;

        .text {

            width:275px;
            margin-left:300px;

            h1 {
                color:#fff;
                font-family: 'Roboto', sans-serif;
                width:242px;
                font-weight: bolder;
                padding-top:67px;
                padding-bottom:15px;
            }
    
            p {
                color:#fff;
                font-weight: lighter;
                font-family: 'Roboto', sans-serif;
                line-height: 24px;
                width:275px;
            }
        }
    }

}


//RESPONSIVE DESIGN
   
@media only screen and (max-width:1450px) {
    #hero {
        .text-background {
            top:70px;
            width:470px;

            .text {
                margin-left:165px;
            }
        }
    }
}

@media only screen and (max-width:1200px) {
    #hero {
        .text-background {
            top:0;
            height:100%;
            width:420px;

            .text {
                margin-left:110px;
            }
        }
    }
}


@media only screen and (max-width:999px) {

   
    #hero {
        .text-background {
            position:unset;
            width:100%;
            background-color: #000;

            .text {
                margin:0 auto;
                padding-bottom:15px;

                h1 {
                    padding-top:35px;
                }
            }

            }

             .swiper {
                .swiper-elements {
                    .button-next,.button-prev {
                        margin: 0 -45px;
                       }
                   }
                   
                }
          
        }

      
}

@media only screen and (max-width:768px) {
    #hero {
       

        .text-background {
            .text {
                text-align: center;
               
            }
        }

        .swiper-elements {
            display:none;
        }

    }
}





