
.lightMode {
    background-color: rgba(230, 230, 230,0.7) !important;
    
    
    h1,h2,h3,h5,span,i,a,p {
        color:#A62120 !important;
    }

   .p-card {
    color:#fff !important;
   }
   
   
    .first-content {
        .logo {
            img {
                background-color:#A62120;
                padding:25px;
                border:1px solid #000;
                border-radius: 25px;
            }
        }   
    }
    
   
    
   

}




