
#navigation {
    height:93px;
    background-color:#B50014;
    font-family: 'Roboto', sans-serif;
  
    #downloadBtn {
        align-items: center;
        gap:5px;
        height: 93px;
        text-decoration: none;
        color: #fff;
        padding:0 20px;
    }
    

    #hamburgerIcon {
        display:none;
        font-size:15px;
     
    }

   img {
        
        z-index: 100;

    }
   
        
    ul {
        display:flex;
        justify-content: center;
        height:93px;
        align-items: center;
      
        li {
            list-style: none;
            padding:0 20px;
            
            
           
        

            a {
                text-decoration: none;
                color:#FFFFFF;
            
                
                
            
            }
        }
    
}
}

//RESPONSIVE DESIGN

@media only screen and (max-width:1310px) {

    .container {
        max-width:999px;
    }

    #navigation {

        #downloadBtn {
            padding:0 5px;
            font-size:14px;
            
        }

        ul {

            
            
            li {
                padding-left:0;
                padding-right:20px;
                text-align: center;

                a {
                    font-size:14px;
                    
                }
            }
        }

        #logo{
            width:140px;
        }
    }
}

@media only screen and (max-width:999px) {

    #navigation {
       
    
        #hamburgerIcon {
            display:block;
            font-size:45px;
            color:#fff; 
            margin-top:25px;
            margin-right:10px;
    
        }

        .flex-container {
            justify-content: space-between;
        }

        #navigationElements {
            display:none;
            width:50%;
            height:100%;
            background-color: #B50014;
            position:absolute;
            top:90px;
            right:0;
            z-index:200;
            text-align: center;
            
            li {
                padding:25px;

                #downloadBtn {
                    justify-content: center;
                    
                }
            }

            
        } 

        #logo{
            width:178px;
            margin-left:10px;
        }
    
    }
}

@media only screen and (max-width:768px) {
    #navigation {
        height:70px;
        
        #downloadBtn {
            height:70px;
        }

        #hamburgerIcon {
            font-size:35px;
            margin-top:16px;
        }

        #logo {
            width:140px;
        }

        #navigationElements {
            top:70px;
        }
    }
}

@media only screen and (max-width:576px) {
    #navigation {
        height:55px;

        #downloadBtn {
            height:55px;
        }

        #hamburgerIcon {
            margin-top:14px;
            font-size:25px;
        }

        #logo {
            width:100px;
            z-index: 201;
        }

        #navigationElements {
            top:54px;
            width:100%;
        }
    }
}


