//DEFAULT

* {
    margin:0;
    padding:0;
}

.container {
    max-width: 1320px;
    margin:0 auto;
}

.second-container {
    max-width:1120px;
    margin:0 auto;
}

.flex-container {
    display:flex;
}

.flex-container2 {
    display:flex;
    gap:15px;
}

.flex-container3 {
    display:flex;
}

//STYLES FOR EVERY SECTION

@import 'navigation.scss';
@import 'workTime.scss';
@import 'hero.scss';
@import 'hero2.scss';
@import 'course.scss';
@import 'products.scss';
@import 'spices.scss';
@import 'order.scss';
@import 'aboutUs.scss';
@import 'footer.scss';



 











