#hero2 {
  background-color: #000;
  font-family: "Roboto", sans-serif;
  padding-bottom: 90px;
}
#hero2 .content {
  gap: 125px;
  font-family: "Roboto", sans-serif;
  align-items: center;
  padding-top: 100px;
}
#hero2 .content .text {
  flex: 50%;
}
#hero2 .content .text h1 {
  color: #fff;
  font-size: 32px;
}
#hero2 .content .text h2 {
  color: #fff;
  font-size: 22px;
}
#hero2 .content .text p {
  color: #fff;
  padding-top: 41px;
  width: 429px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}
#hero2 .content .text .buttons {
  margin-top: 66px;
  text-align: center;
}
#hero2 .content .text .buttons button {
  background-color: #A62120;
  color: white;
  text-decoration: none;
  border: 1px solid #fff;
  padding-top: 12px;
  padding-bottom: 13px;
  border-radius: 20px;
  width: 174px;
}
#hero2 .content .text .buttons #leftBtn {
  margin-right: 16px;
}
#hero2 .content .pictures {
  flex: 50%;
}
#hero2 .content .pictures #food2 {
  padding-right: 17px;
}
#hero2 .content .pictures #food4 {
  padding-left: 18px;
}

@media only screen and (max-width: 1310px) {
  .second-container {
    width: 999px;
  }
  #hero2 .content {
    gap: 15px;
  }
}
@media only screen and (max-width: 999px) {
  .second-container {
    width: 768px;
  }
  #hero2 .content {
    padding-top: 40px;
    flex-direction: column;
    gap: 50px;
  }
  #hero2 .content .text {
    text-align: center;
    order: 2;
  }
  #hero2 .content .text .buttons {
    justify-content: center;
  }
  #hero2 .content .pictures {
    order: 1;
  }
}
@media only screen and (max-width: 768px) {
  .second-container {
    max-width: 576px;
  }
  #hero2 .content .pictures #food1 {
    width: 396px;
  }
  #hero2 .content .pictures #food2, #hero2 .content .pictures #food3, #hero2 .content .pictures #food4 {
    width: 120px;
  }
  #hero2 .content .text p {
    font-size: 14px;
  }
  #hero2 .content .text h2 {
    font-size: 18px;
  }
  #hero2 .content .text h1 {
    font-size: 27px;
  }
  #hero2 .content .text .buttons {
    margin-top: 45px;
  }
  #hero2 .content .text .buttons button {
    width: 145px;
  }
}
@media only screen and (max-width: 576px) {
  .second-container {
    max-width: 320px;
  }
  #hero2 .content {
    padding-top: 5px;
  }
  #hero2 .content .pictures #food1 {
    width: 310px;
  }
  #hero2 .content .pictures #food2, #hero2 .content .pictures #food3, #hero2 .content .pictures #food4 {
    width: 90px;
  }
  #hero2 .content .text p {
    width: unset;
  }
  #hero2 .content .text .buttons {
    margin-top: 35px;
  }
  #hero2 .content .text .buttons button {
    width: 120px;
  }
}