#hero {
  position: relative;
}
#hero .swiper .swiper-wrapper .swiper-slide img {
  display: block;
  width: 100%;
}
#hero .swiper .swiper-pagination-bullet-active {
  background-color: #B50014;
}
#hero .swiper .swiper-elements .button-next {
  position: absolute;
  bottom: 15px;
  right: 45%;
  z-index: 55;
  margin: 0 -30px;
}
#hero .swiper .swiper-elements .button-next:hover {
  cursor: pointer;
}
#hero .swiper .swiper-elements .button-prev {
  position: absolute;
  bottom: 15px;
  left: 45%;
  z-index: 55;
  margin: 0 -30px;
}
#hero .swiper .swiper-elements .button-prev:hover {
  cursor: pointer;
}
#hero .swiper .swiper-elements .swiper-pagination {
  position: absolute;
  bottom: 25px;
}
#hero .swiper .swiper-elements .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 10px);
}
#hero .text-background {
  width: 629px;
  height: 348px;
  background-color: rgba(0, 0, 0, 0.3019607843);
  position: absolute;
  top: 163px;
  z-index: 10;
}
#hero .text-background .text {
  width: 275px;
  margin-left: 300px;
}
#hero .text-background .text h1 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  width: 242px;
  font-weight: bolder;
  padding-top: 67px;
  padding-bottom: 15px;
}
#hero .text-background .text p {
  color: #fff;
  font-weight: lighter;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  width: 275px;
}

@media only screen and (max-width: 1450px) {
  #hero .text-background {
    top: 70px;
    width: 470px;
  }
  #hero .text-background .text {
    margin-left: 165px;
  }
}
@media only screen and (max-width: 1200px) {
  #hero .text-background {
    top: 0;
    height: 100%;
    width: 420px;
  }
  #hero .text-background .text {
    margin-left: 110px;
  }
}
@media only screen and (max-width: 999px) {
  #hero .text-background {
    position: unset;
    width: 100%;
    background-color: #000;
  }
  #hero .text-background .text {
    margin: 0 auto;
    padding-bottom: 15px;
  }
  #hero .text-background .text h1 {
    padding-top: 35px;
  }
  #hero .swiper .swiper-elements .button-next, #hero .swiper .swiper-elements .button-prev {
    margin: 0 -45px;
  }
}
@media only screen and (max-width: 768px) {
  #hero .text-background .text {
    text-align: center;
  }
  #hero .swiper-elements {
    display: none;
  }
}